/*****   DASHBORD   *****/
.dashbord-main{
    background-image: linear-gradient(to right, #f5a9fe, #b0f996);
    width: 100vw;
    min-height: 80vh;
    padding: 10px 0 0 50px;
}
.dashbord{
    display: grid;
    grid-template-columns: 200px auto;
}
.dashbord-menu{

}
.dashbord-contant{
    min-height: 90vh;
}




/*****   MENU   *****/
.menu-h1{
    text-align: center;
    font-weight: 940 !important;
    font-size: 40px !important;
    opacity: 0.6;
    background-color: antiquewhite;
    padding: 10px 0;
    text-shadow: 2px 2px 4px black;
    color: #e92121;
}

.menu-left{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.menu-m-button{
    background-image: linear-gradient(to right,#b0f996, #ee78fb);
    width: 150px;
    margin-bottom: 10px;
    padding: 10px 0 10px 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}




.user-container-h{
    background-color: rgb(5, 243, 163) !important;
    font-weight: 700;
    margin-bottom: 20px !important;
    border-bottom: 2px solid black;
}
.user-container-h,
.user-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    margin: 10px 0;
    background-color: rgba(127, 255, 212, 0.662);
    padding: 10px 10px;
    font-weight: 600;
}



/*  PRODUCT  */
.dashbord-product-item{
    display: grid;
    grid-gap: 20px;
}
.dashbord-product-card{
    box-shadow: 0 0  5px 5px white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
}
.product-image-a{
    width: 100%;
    min-height: 80%;
    height: 80%;
    object-fit: contain;
}
.product-price-a{
    color: chocolate;
}
.product-title-a{
    font-weight: 600;
    padding: 0 10px;
}

/* => VERY LARGE DISPLAY */
@media screen and (min-width: 1281px) {
    .dashbord-product-item{
        grid-template-columns: repeat(5,1fr);
    }
    .product-title-a{
        font-weight: 600;
        font-size: 20px;
    }
}

  /* => DESTOPS */
@media only screen and (max-width: 1280px) {
    .dashbord-product-item{
        grid-template-columns: repeat(4,1fr);
    }
    .product-title-a{
        font-size: 16px;
    }
    .p-time-date{
     font-size: 14px;
    font-weight: 400;
    }
  }

  /* => TABLETS  and PADS */
@media only screen and (max-width: 920px) {
    .dashbord-product-item{
        grid-template-columns: repeat(3,1fr);
    }
    .product-title-a{
        font-weight: 600;
        font-size: 15px;
    }
  }

/* => MOBILE */
@media only screen and (max-width: 600px) {
    .dashbord-product-item{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px !important;
    }
    .product-title-a{
        font-size: 13px;
    }
  }


  /*  ADMIN DASHBORD  */
  .dashbord-main-heading{
    box-shadow: 0 0 3px 4px #29292965;
    padding: 10px;
    margin-bottom: 20px;
    margin: 0 5px 20px 5px;
  }
  .admin-account-container{
    margin-top: 30px;
  }
  .admin-account-container p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }


  /* CREATE CATEGORY */
.category-item{
    display: grid;
    grid-template-columns: auto 80px 80px;
    grid-gap: 25px !important;
}
.category-icon{
    padding: 5px 20px;
    cursor: pointer;
    scale: 1.7;
    color: black;
}

.category-icon:hover{
    scale: 1.8;
    color: blue;
}


/* CREATE CATEGORY */
  .create-category-input{
    border: none;
    margin-bottom: 40px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid #1a2980;
  }
  .create-category-button{
    padding: 10px 30px !important;
  }