.search-form{
    font-size: 18px;
}
.search-input{
    width: 25vw;
    min-width: 200px;
    height: 40px;
    border: none;
    padding: 5px 10px;
}
.search-button{
    height: 40px;
    margin-left: 2px;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}
.search-icon{
    color: black;
}